:root {
    --nav-color: red;
    --card-color: white;
    --card-border-rad: 10px;
    --search-bg: rgb(233, 219, 219);
    --button-color: red;
    --dashboard-color: rgb(238, 230, 230);
    --box-shadow-col: rgba(0, 0, 0, 0.486);
    --text-color: white;
    --prof-user-img-rad: 100%;
    --announcement-text: rgb(122, 105, 105);
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    grid-template-areas: "nav head"
    "nav dash";
}

 /* Nav - Start */

#nav {
    background-color: var(--nav-color);
    grid-area: nav;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    display: flex;
    gap: 15px;
    color: var(--text-color);
    align-items: center;
}

/* Nav - End */

/* Header - Start */

#head {
    grid-area: head;
    display: grid;
    padding: 15px 25px;
    grid-template: 30px 1fr / 1fr minmax(350px, 1fr);
    gap: 15px;
    grid-template-areas: "search-cont user-noti"
    "user-greet header-buttons";
    position: relative;
    box-shadow: 2px 2px 5px 0.1px var(--box-shadow-col);
    background-color: white;
}

#search {
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: var(--dashboard-color);
    height: 30px;
}

#search-cont {
    grid-area: search-cont;
}

#user-noti {
    grid-area: user-noti;
    display: flex;
    justify-content: center;
}

#prof-img-small {
    /* width: 10%; */
    height: 155%;
}

#user-greet {
    grid-area: user-greet;
    display: flex;
}

#greet-img {
    width: 12%;
    height: 85%;
}

#greeting {
    font-weight: bold;
}

#username {
    font-size: x-large;
}

#header-buttons {
    grid-area: header-buttons;
    justify-content: center;
    align-items: center;
}

.header-button {
    width: 90px;
    height: 40%;
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

.header-item {
    display: flex;
    gap: 25px;
    align-items: center;
}

.prof-img {
    border-radius: var(--prof-user-img-rad);
}

/* Header - End */

/* Grid to contain Projects, Announcements, and Trending cells */
#dash {
    grid-area: dash;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "project-cont announce"
    "project-cont trending";
    background-color: var(--dashboard-color);
    padding: 40px 20px 40px 20px;
    gap: 30px;
}

/* Projects - Start  */

#project-cont {
    grid-area: project-cont;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

#projects {
    display: flex;
    grid-area: projects;
    flex-wrap: wrap;
    gap: 15px;
}

/* Target cards within "projects" section */
.project {
    border-left-color: orange;
    border-left-width: 10px;
    border-left-style: solid;
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1 0 30%;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

/* Projects - End */

/* Announcements - Start */

#announce {
    display: flex;
    grid-area: announce;
    flex-direction: column;
    gap: 10px;
}

#announcements {
    grid-area: announcements;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#announcements .header {
    font-weight: bolder;
}

#announcements .text {
    font-weight: lighter;
    color: var(--announcement-text)
}

hr {
    width: 100%;
    opacity: 20%;
}

/* Announcements - End */

/* Trending - Start */

#trending {
    display: flex;
    grid-area: trending;
    flex-direction: column;
    gap: 10px;
}

#trending-card {
    padding: 20px;
}

#trending-card {
    display: flex;
    flex-direction: column;
    grid-area: trending-card;
    gap: 10px;
}

.trending-user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-img {
    border-radius: var(--prof-user-img-rad);
}

 #asante #sante-img {
    width: 30%;
}

/* Trending - End */

/* Headers for each section: Projects, Announcements, and Trending */
.section-head {
    font-weight: 400;
    font-size: large;
}

/* Target all card divs */
.card {
    border-radius: var(--card-border-rad);
    background-color: var(--card-color);
    box-shadow: 2px 4px 5px 0.1px var(--box-shadow-col);
}

