:root {
    --nav-color: red;
    --card-color: white;
    --card-border-rad: 10px;
    --search-bg: rgb(233, 219, 219);
    --button-color: red;
    --dashboard-color: rgb(238, 230, 230);
    --box-shadow-col: rgba(0, 0, 0, 0.233);
    --text-color: white;
    font-family: "Roboto";
}

body {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 3fr;
    grid-template-areas: "nav head"
    "nav dash"
    "nav dash";
}

#nav {
    background-color: var(--nav-color);
    grid-area: nav;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    display: flex;
    gap: 15px;
    color: var(--text-color);
    align-items: center;
}

#head {
    grid-area: head;
    display: grid;
    padding: 15px 25px;
    grid-template: 30px 1fr / 1fr minmax(350px, 1fr);
    gap: 15px;
    grid-template-areas: "search-cont user-noti"
    "user-greet header-buttons";
    position: relative;
    box-shadow: 2px 2px 5px 0.1px var(--box-shadow-col);
    background-color: white;
}

#search {
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: var(--dashboard-color);
}

#search-cont {
    grid-area: search-cont;
}

#user-noti {
    grid-area: user-noti;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#prof-img-small {
    /* width: 10%; */
    height: 155%;
}

#user-greet {
    grid-area: user-greet;
    display: flex;
}

#greet-img {
    width: 12%;
    height: 85%;
}

#greeting {
    font-weight: bold;
}

#username {
    font-size: x-large;
}

#header-buttons {
    grid-area: header-buttons;
    justify-content: center;
    align-items: center;
}

.header-button {
    width: 90px;
    height: 40%;
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

.header-item {
    display: flex;
    gap: 25px;
}

.prof-img {
    border-radius: 100px;
}

#dash {
    grid-area: dash;
    display: grid;
    grid-template: repeat(2, 1fr) / 3fr 1fr;
    grid-template-areas: "projects announce"
    "projects trending";
    background-color: var(--dashboard-color);
    padding: 40px 20px 40px 20px;
    row-gap: 20px;
}

#projects {
    display: grid;
    grid-area: projects;
    flex-direction: column;
    grid-template: auto repeat(3, 3fr) / repeat(2, 1fr);
    grid-template-areas: "proj-head ."
    "proj1 proj2"
    "proj3 proj4"
    "proj5 proj6";
    gap: 10px;
}

#announce {
    display: grid;
    grid-area: announce;
    grid-template: auto 1fr / 1fr;
    grid-template-areas: "announce-head"
    "announcements";
    gap: 10px;
}

#announcements {
    display: flex;
    grid-area: announcements;
}

#trending-content {
    display: flex;
    grid-area: trending-cont;
}

#trending {
    display: grid;
    grid-area: trending;
    grid-template: auto 1fr / 1fr;
    grid-template-areas: "trend-head"
    "trending-cont";
    gap: 10px;
}

/* Target cards within "projects" section */
.project {
    width: 90%;
    height: 90%;
}

.section-head {
    font-weight: bold;
}

/* Target all card divs */
.card {
    border-radius: var(--card-border-rad);
    background-color: var(--card-color);
    box-shadow: 2px 4px 5px 0.1px var(--box-shadow-col);
}